<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QbIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <QbIntegration.Properties.Settings>
            <setting name="HostName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Connection" serializeAs="String">
                <value />
            </setting>
            <setting name="QBFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="QBYear" serializeAs="String">
                <value />
            </setting>
            <setting name="QBVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="IncomeAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="AssetAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="CogsAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSyncDate" serializeAs="String">
                <value />
            </setting>
            <setting name="InvStartDate" serializeAs="String">
                <value />
            </setting>
        </QbIntegration.Properties.Settings>
    </userSettings>
</configuration>